<title>Yiyecek & İçecek</title>
<div class="tmpl_wrapper">
<div class="semiblackbox" style="margin-top:10%;height:80%">
    <h2>Hazır Gıda hiç bu kadar hazır olmamıştı!.</h2>
  <ol>
      <li>Dilediğiniz ürünleri sepetinize ekleyin.</li>
      <li>Ödeme yönteminizi seçin.</li>
      <li>Siparişiniz hazır olunca sizi uyaralım.</li>
      <li>Size sadece gelip almak kalsın...</li>
  </ol>

  <div style="clear:both;text-align:right">
  <a  data-inline="true" data-role="button" id="showfastfoods" data-icon="grid">Ürünleri Göster &raquo;</a>
  </div>


  <div id="dontwellcomeagain"><label ><input id="cbx"  data-mini="true" type="checkbox"  /> Bu bilgi ekranını tekrar gösterme.</label></div>
</div>
</div>
