<title>{{#t("Geri Bildirim")}}</title>

<div>

    <div id="info_div">
         {{#t("Lütfen iletmek istediğiniz mesajın içerik tipini seçiniz.")}}
     </div>

<ul data-role="listview" >


    <li>
        <a data-oid="1" class="cB">
            <img src="images/feedback/memnuniyet.png" />

            <h3>{{#t("Teşekkür")}}</h3>
            <p></p>
        </a>
    </li>

    <li>
        <a data-oid="2" class="cB">
            <img src="images/feedback/tavsiye.png" />

            <h3>{{#t("Öneri")}}</h3>
            <p></p>
        </a>
    </li>

    <li>
        <a data-oid="3" class="cB">
            <img src="images/feedback/sikayet.png" />

            <h3>{{#t("Şikayet")}}</h3>
            <p></p>
        </a>
    </li>





</ul>
</div>
