<title>Buluşma Yeri</title>

<div class="semiblackbox">
    <h2>Arkadaşlarınızla buluşmak artık daha kolay.</h2>
  <ol>
      <li>Arkadaşlarınızı Facebook listenizden seçin.</li>
      <li>Nerede buluşacağınızı belirleyin.</li>
      <li>Mekan karekodlarını tarayarak ya da listeden seçerek buluşma yerinizi güncelleyin.</li>
      <li>Biz onları bilgilendirelim.</li>
  </ol>
</div>
        <a id="meetpoint_button" class="nav_button hoverbutton" data-href="meetpoint_friends"> <span>Arkadaşlarımı Göster</span></a>



<a data-href='facebook_connect' class="nav_button" id="faceconnect"></a>
