<div data-role="fieldcontain" class="tmpl_wrapper pedli">


        {{? image}}
        <div class="centerize">
        <img src="{{#tv.static}}/nw_lrg_{{=image}}" onerror="downloadOnDemand(this)"  class="full_width" />
                </div>
        {{?}}

        <h3 class="center details_header">{{=title}}</h3>
        <p class="justify">{{=detail}}</p>
        <div class="center_element">
            <a data-oid="{{=id}}" data-otyp="news" class='SL'><span>{{#t("Paylaş")}}</span> <img src="images/share.png" class="share" /></a>
        </div>


</div>
