<title>Arabam Nerede?</title>


<div class='where_is_my_car_container'>
    <div id='choose_parking_lot_wrapper'>
        <input id='choose_parking_lot' name='choose_parking_lot' type='hidden' />
    </div>
</div>


<footer>
    <div data-role="navbar"  data-position="fixed" data-tap-toggle="false">
    		<ul>
                <li><a data-href='#do_show_my_car' id='iB1' data-icon="forward">Aracımı Göster</a></li>
                <li><a id='iB0' data-icon="info" >Elle Düzenle</a></li>
    		</ul>
    	</div>
</footer>
