<title>-</title>
<footer>
    <div data-role="navbar">
    		<ul>
    			<li><a class="nav_button" data-icon="info" data-href="show_location">Haritada Göster</a></li>
    			<li><a class="nav_button" data-icon="check" data-href="meetpoint">Burada Buluşalım</a></li>
    			<li><a class="share_link" data-icon="star" data-subject="{{=it.name }}" data-message="{{=it.name }} adlı mağazayı öneriyorum!">Paylaş</a></li>
    		</ul>
    	</div>
</footer>
        <div id="saydambar">
            <a class="nav_button" data-href="#callplace?id={{=it.id}}"><img src="images/telefon.png"></a>
            <a class="nav_button" data-href="#feedback_survey?id={{=it.id}}&type=place"><img src="images/mail.png"></a>
        </div>
<div class="tmpl_wrapper">

    {%include place_info%}
    <h3 class="center">{{=it.name}}</h3>
    <p>{{=it.description}}</p>
    <p><strong>Yetkili: </strong>{{=it.authorized_person}}</p>
    <p><strong>Adres: </strong>{{=it.address}}</p>
    <p><strong>Telefon: </strong>{{=it.phone}}</p>
    {{? it.gsm}}
        <p><strong>GSM: </strong>{{=it.gsm}}</p>
    {{?}}
    <p><strong>E-Posta: </strong><a href="mail:{{=it.email}}">{{=it.email}}</a></p>

<br>
<br>
<br>
<br>





</div>
