<title>Ayarlar</title>
<div class="tmpl_wrapper">

</div>
<footer>
    <div id="settings_options" data-role="navbar">
    		<ul>
    			<li><a class="nav_button ui-btn-active" data-icon="info" data-href="set_personal?tab=1">Kişisel Bilgiler</a></li>
    			<li><a class="nav_button" data-icon="check" data-href="set_payment?tab=1">Ödeme Ayarları</a></li>
    			<li><a class="nav_button" data-icon="gear" data-href="settings">Ayarlar</a></li>
    			<li><a class="nav_button" data-icon="gear" data-href="about_app">Uygulama Hakkında</a></li>
    		</ul>
    	</div>
</footer>


