html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	marginheight:0px; marginwidth:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    background: url("../images/background2.jpg") no-repeat fixed 50% 5% #000000;

}

ol, ul {
	list-style: none;
    margin-right: 23px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#backgroundDiv{
    /*height: 1080px; */
    margin: 0 auto;
}

#icerikDiv{
    min-height: 500px;
    width: 1000px;
    margin: 0 auto;
}


#headerDiv{
	width: 1200px;
	height: 95px;
	margin:0px auto;
}


#logoDiv{
	height: 90px;
	width: 480px;
    padding-top: 18px;
	float:left;
    margin-left: 100px;

}

#headerContent_right{
    height: 100px;
    width: 335px;
    float:left;
    margin-left: 188px;

}

#ossbackgroundDiv{
    position: absolute;
    height: 90px;
    width: 410px;
    background-color: #30FFFC;
    top: 32px;
    z-index: -1;
    margin-left: -78px;
    background: url("../images/ossbg.png") no-repeat;
}


#oss{
	height: 40px;
	width: 325px;
    float:left;
    margin-top: 24px;
    opacity: 0.7;
    margin-right: -2px;
    padding-right: 60px;
}

#oss li{
    height: 40px;
    width: 50px;
    float: left;
}

#tepemenu{
    height: 30px;
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-left: 165px;
}

#tepemenu a{
    display: block;
    text-decoration: none;
    height: 15px;
    margin-left: 20px;
    float: left;
    font-size: 12px;
}

#tepemenu a:first-child{
    margin-left: 10px;
}

#tepemenu a:hover{
    color: #E18428;
}

.style_high{
    color: #93795B;
}

.style_low{
    color: #603D1B;
}



#mainDivCvr{

    margin: 10px auto 15px;
    background: url("../images/bannerarkaplan.png") no-repeat center;
    height: 562px;
}


#mainDiv_Tp{
	height: 564px;
	width: 1222px;
    margin: 5px auto;
    padding-top: 5px;
}

#bottomDiv{
    height: 220px;
    width: 1000px;
    margin: 5px auto;
    font-family: verdana;

    text-shadow: 0 -1px 0 rgba(44, 44, 44, 0.8), 0 1px 0 rgba(167, 167, 167, 0.72);
}

#bottomDiv a{
	text-decoration:none;
	color: #FFFFFF;
}

#bottomDiv a:hover{
	color:#FFFFFF;
}


#leftDivCvr{
    height: 230px;
    width: 490px;
    float: left;
}


#leftDiv{
    height: 220px;
    width: 465px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
    background: url("../images/saydambg.png")
}

#leftDivBaslik{
    background-color: #3E3E3E;
    color: #FCFCFF;
    float: left;
    font-size: 20px;
    height: 25px;
    margin: 20px 0 15px -10px;
    padding: 10px 0 10px 30px;
    width: 460px;
}

#leftDivContent{
    color: #ffffff;
    float: left;
    font-size: 15px;
    height: 150px;
    margin-left: 15px;
    width: 440px;
    margin-top: 25px;
}

#rightDivCvr{
    height: 230px;
    width: 490px;
    float: left;
    margin-left: 20px;
}

#rightDiv{
    height: 220px;
    width: 465px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
    background: url("../images/saydambg.png")
}

#rightDivBaslik{
    background-color: #3E3E3E;
    color: #FFF9F7;
    float: left;
    font-size: 20px;
    height: 25px;
    margin: 20px 0 15px -10px;
    padding: 10px 0 10px 30px;
    width: 460px;
}

#rightDivContent{
    color: #ffffff;
    float: left;
    font-size: 15px;
    height: 150px;
    margin-left: 15px;
    width: 440px;
    margin-top: 25px;
}

#birbakistaCvr{
    min-height: 700px;
    width: 1001px;
    border-radius: 10px 10px 0 0;
    margin: 45px auto;
    height: 1515px;
    background-color: #FEFACF;
}

#anaBaslik{
    font-size: 28px;
    font-weight: bold;
    color: #A3877D;
    height: 50px;
    width:950px;
    border-bottom: 1px solid #FFC99A;
    margin: 20px;
    float: left;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.71), 0 1px 0 rgba(194, 194, 194, 0.96);
}

.icerikDivCvr li, .altSayfa_icerik li{
    list-style-type: square;
    margin:10px 0 10px 20px;
}

.icerikDivCvr{
    width: 950px;
    margin-left: 20px;
    border-bottom: 1px solid #FFC99A;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.icerikDiv_Left{
    float: left;
    width: 645px;
}

.icerik{
    height: 190px;
    width: 646px;
    float: left;
    color: #3A3A3A;
    font-size: 16px;
    margin-top: 10px;
}

.icerikBaslik{
    height: 30px;
    width:650px;
    float: left;
    color: #FEF4D1;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(162, 162, 162, 0.71), 0 1px 0 rgba(125, 125, 125, 0.96);
}



.resim_Right{
    /*height: 230px;*/
    /*width: 280px;*/
    margin-left: 20px;
    float: left;
    border: 1px solid #FFC99A;

}

.icerikDiv_Right{
    float: left;
    width: 645px;
    margin-left: 20px;
}

.resim_Left{
    height: 230px;
    width: 280px;
    float: left;
    border: 1px solid #FFC99A;
}

#menu{
    height: 46px;
    width: 1001px;
    font-family: verdana;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
    background: url("../images/menubg.png");
}

#menu ul{
    height: 40px;
    margin-left: 5px;
    float: left;
}

#menu ul li{
    float: left;
    height: 34px;
    padding: 4px 15px;
    background: url("../images/menubg.png");
    margin-left: 1px;
    border-right: 1px solid #E7C384;
    margin-top: 1px;
	padding-right:12px \0/;  /* ie 9 i蓾n*/
}


#menu ul li a{
    text-decoration: none;
    display: block;
    height: 48px;
    color: #323232;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(88, 88, 88, 0.74);
    font-family: Oxygen, "trebuchet ms";
}


a.styleTek{
    height: 30px !important;
    padding-top: 10px;
}

a.activeLink {
    color: #327170;
    text-decoration: underline;
}

#menu ul li a:hover{
    color: #FFFFFF;
}

#menu ul li:first-child{
    border-left: none;
}

#menu ul li:last-child{
    border-right: none;
}



/*
 Alt Sayfa css leri
 */

.altSayfaCvr{
    width: 1001px;
    border-radius: 10px 10px 0 0;
    margin: 15px auto;
	background: url("../images/bg.png");
}

.altSayfa_icerikDivCvr{
    width: 950px;
    border-bottom: 1px solid #FFB677;
    float: left;
    margin-bottom: 20px;
    margin: 20px;

}

.altSayfa_icerikDiv{
    float: left;
    width: 640px;
}


/**
Nedir Bu Karekod sayfas覺 ile ilgili csslerin balang覺c覺
(tablet ekranl覺 sayfa)
**/

#karekodCvr{
    width: 520px;
}

#karekodBaslik{
    width: 510px
}

#karekodicerik{
    width: 510px
}


div#tabletEkran{
    background: url("../images/tablet.png") no-repeat;
    float: left;
    height: 590px;
    width: 400px;
    margin-left: 30px;
    position: relative;
}

div#x{
    height: 50px;
    left: 140px;
    position: absolute;
    top: 300px;
    width: 50px;
}

div#girisBaslik{
    color: #FF9103;
    font-family: kaushan script,sans-serif;
    font-size: 40px;
    height: 50px;
    margin: 78px 0 0 41px;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(45, 45, 45, 0.47), 0 1px 0 rgba(153, 151, 151, 0.4);
    width: 333px;
}

div#kareKod{
    border: 1px solid #A0A0A0;
    border-radius: 10px 10px 10px 10px;
    height: 140px;
    margin: 15px 0 0 130px;
    padding:5px;
    text-align: center;
    width: 140px;
}
div#firsatFiyat{
    color: #4B4B4B;
    font-size: 18px;
    height: 130px;
    margin: 14px 0 0 41px;
    text-align: center;
    width: 333px;
    text-shadow: -1px 1px 0 #FFFFFF, 0 1px 0 rgba(153, 151, 151, 0.4);
}

div#notCvr{
    background: url("../images/123.png") no-repeat scroll 0 0 transparent;
    height: 200px;
    margin: -84px 0 0 121px;
    position: relative;
    width: 270px;
}

div#not{
    color: #FFFFFF;
    font-size: 18px;
    height: 75px;
    margin: 103px 0 0 64px;
    position: absolute;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(67, 66, 66, 0.64), 0 1px 0 rgba(153, 151, 151, 0.81);
    width: 234px;

    -webkit-transform: rotate(-30.5deg);
    -moz-transform: rotate(-30.5deg);
    -ms-transform: rotate(-30.5deg);
    -o-transform: rotate(-30.5deg);
    transform: rotate(-30.5deg);
}

span#a1{
    font-size: 24px;
    color: #990000;
}

span#a2{
    font-size: 40px;
    color: #008000;
}




/**
Nedir Bu Karekod sayfas覺 ile ilgili csslerin bitii
(tablet ekranl覺 sayfa)
**/



.altSayfa_icerik{
    width: 620px;
    float: left;
    color: #363636;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 rgba(193, 193, 193, 0.71), 0 1px 0 rgba(129, 129, 129, 0.96);
    font-size: 16px;
    line-height: 20px;
}

.altSayfa_icerikBaslik{
    height: 50px;
    width: 620px;
    float: left;
    color: #C9770C;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid #FFC99A;
    text-shadow: -1px -1px 0 rgba(188, 188, 188, 0.71), 0 1px 0 rgba(159, 159, 159, 0.96);
}

.birbakistaBaslikStyle{
    margin: 20px 0 20px 20px;
    width: 950px;
}

.iletisimBaslikStyle{
    margin: 20px 0 20px 20px;
    width: 940px;
}


.altSayfa_resim{
    height: 400px;
    width: 224px;
    float: left;
    border: 1px solid #545454;
    margin: 57px 0 20px 28px;

}

.altSayfa_resimCvr{
    height: 530px;
    width: 280px;
    float: left;
    margin: 0 0 20px 20px;
    background: url("../images/telphone.png") no-repeat;

}


#footer{
	width:1000px;
    height: 50px;
    margin: 30px auto;
	border-bottom: 1px solid #603D1B;
}

#footerContent_left{
    height: 60px;
    width: 450px;
    text-align: left;
    font-size: 25px;
    color: #603D1B;
	float:left;
	background-image:url(../images/logoelipsis.png);
	background-repeat:no-repeat;
    height: 45px;
    padding: 7px 0 0 48px;

}

#footerContent_right{
    height: 18px;
    width: 450px;
    text-align: right;
    font-size:12px;
    color: #603D1B;
	float:right;
    margin-top: 20px;
s
}

span.bold{
    font-weight: bold;
    font-size: 20px;
    color: #C9770C;
}


span.iletisim_icerik{
    font-size: 14px;
    color: #3A3A3A;
    margin-left: 20px;
}

div.iletisim_Div{
    width: 950px;
    margin: 0 20px;
    float: left;
    font-size: 14px;
}

div.iletisimFirmaBilgileri{
    width: 920px;
    margin: 20px;
    border-bottom: 1px solid #FFC99A;
    padding-bottom: 40px;
    color: #343434;
    float: left;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(82, 82, 82, 0.4);
}

div.firmaBilgileri{
    width: 450px;
    float: left;
}

div.firmaLogo{
    width: 170px;
    height: 134px;
    color: #606060;
    float: left;
    margin-left: 175px;
    margin-top: -18px;

}

div.iletisimKisiBilgileri{
    width: 880px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.28);
    text-align: left;
    padding: 20px;
    border: 1px solid #FFE4C1;
    float: left;
    border-radius: 10px;
}

div.iletisimKisiBilgileri label{
    font-weight: bold;
    color: #737373;
}

input.inputStyle{
    min-width: 230px;
    border: 1px solid #BABABA;
    margin-top: 1px;
    min-height: 25px;
    margin-left: 10px;
    color: #6A6A6A;
    font-size: 14px;
    padding: 2px 10px;
    background-color: #FFFDF7;
    border-radius: 5px;
}

.form_Part_1{
    height: 150px;
    width: 420px;
    float: left;
}

.form_Part_2{
    height: 150px;
    width: 440px;
    float: left;
}

.form_Part_2 textarea{
    margin-left: 10px;
    border: 1px solid #BABABA;
    height: 108px;
    padding: 10px;
    width: 345px;
    color: #6A6A6A;
    font-family: verdana;
    font-size: 14px;
    background-color: #FFFDF7;
    border-radius: 5px;
}

input.gonderBttn{
    border: 1px solid #FEE1BD;
    border-radius: 5px;
    color: #828282;
    background-color: #FFF8E3;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 80px;
    padding-bottom: 4px;
}

input.gonderBttn:hover{
  background-color: #FCFCFF;
    cursor:pointer;
}


.rectangle {
    background: none repeat scroll 0 0 #E18428;
    height: 50px;
    width: 495px;
    position: relative;
    left:-15px;
    top: 20px;
    float: left;
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    z-index: 100;
    color: #30FFFC; /* the stack order: foreground */
}

.rectangle a{
    display: block;
    height: 30px;
    width: 350px;
    font-size: 20px;
    margin: 12px 0 0 20px;
    color: #327170;
}

.triangle-l {
    border-color: transparent #8F5523 transparent transparent;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: -30px;
    top: 55px;
    z-index: 1; /* displayed under bubble */
}

.triangle-r {
    border-color: transparent transparent transparent #8F5523;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: 465px;
    top: 25px;
    z-index: 1; /* displayed under bubble */
}


