{% extends "admin/change_list.html" %}
{% block extrahead %}
    {{ block.super }}
    <script>
        $(function () {
            $('table#result_list img').click(function () {
                opener.update_icon(this.src)
            })
        })
    </script>

{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        {% if not request.user.is_superuser %}
            thead {
                display: none;
            }
        {% endif %}

        th {
            background: url(/media/admin_images/dama.jpg);

        }

        th, tr, td {
            display: inline-block;
            padding: 10px;
        }
    </style>
{% endblock %}
