{% extends "admin/base_form.html" %}
{% load i18n %}


{% block fieldset %}

<div id="sifre_degisiklikler_cvr">
    <div class="form-row"><div><label class="required">{{ form.password.label }}:</label> {{ form.password }}</div></div>
    <div class="form-row"><div><label class="required">{{ form.new_password.label }}:</label> {{ form.new_password }}</div></div>
    <div class="form-row"><div><label class="required">{{ form.new_password2.label }}:</label> {{ form.new_password2 }}</div></div>
</div>

{% endblock %}
{% block save_label %}{% trans "Update my password" %}{% endblock %}
