{% extends 'subpage_base.html' %}
{% load blk %}

	{%block extrahead%}
		{{block.super}}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}slayt2/engine1/style.css" />
	{%endblock%}

	{% block 'subpage_content' %}
				<div class="altSayfa_icerikDivCvr">
					<div class="altSayfa_icerikDiv">
						<div class="altSayfa_icerikBaslik">{% blk 'baslik neredeyim' %}</div>
						<div class="altSayfa_icerik">
							{% blk 'icerik neredeyim' %}
						</div>
					</div>

					<div class="altSayfa_resimCvr">
						<div class="altSayfa_resim">

							<div id="wowslider-container1">
								<div class="ws_images">
									<ul>
										<li><img src="{{ MEDIA_URL }}slayt2/data1/images/neredeyim/1.jpg" id="wows1_0"/></li>
										<li><img src="{{ MEDIA_URL }}slayt2/data1/images/neredeyim/2.jpg" id="wows1_1"/></li>
										<li><img src="{{ MEDIA_URL }}slayt2/data1/images/neredeyim/3.jpg" id="wows1_2"/></li>
										<li><img src="{{ MEDIA_URL }}slayt2/data1/images/neredeyim/4.jpg" id="wows1_3"/></li>
										<li><img src="{{ MEDIA_URL }}slayt2/data1/images/neredeyim/5.jpg" id="wows1_4"/></li>
									</ul>
								</div>

								<div class="ws_bullets">
									<div id="neredeyimSliderLinks" class="neredeyim">
										<a href="#">1</a>
										<a href="#">2</a>
										<a href="#">3</a>
										<a href="#">4</a>
										<a href="#">5</a>
									</div>
								</div>

							</div>

							<script type="text/javascript" src="{{ MEDIA_URL }}slayt2/engine1/wowslider.js"></script>
							<script type="text/javascript" src="{{ MEDIA_URL }}slayt2/engine1/script.js"></script>

						</div>
					</div>
				</div>
			
			{% endblock 'subpage_content' %}

	</div>

