{% load i18n %}

<tr>
    <td><a href="/{{ LANGUAGE_CODE }}/admin/umatik/content/" target="mf"><img
            src="/media/images/ikonlar/cms.png"/>{% trans "Content Modules" %}</a></td>
</tr>

<tr>
    <td><a href="/{{ LANGUAGE_CODE }}/admin/umatik/map/" target="mf"><img
            src="/media/images/ikonlar/yerlesim_plani.png"/>{% trans "Floor Plan" %}</a></td>
</tr>
<tr>
    <td><a href="/{{ LANGUAGE_CODE }}/admin/umatik/feedback/" target="mf"><img
            src="/media/images/ikonlar/geri_bildirim.png"/>{% trans "Feedback" %}</a></td>
</tr>
<tr>
    <td><a href="/{{ LANGUAGE_CODE }}/admin/umatik/page/" target="mf"><img
            src="/media/images/ikonlar/bilgi.png"/>{% trans "Info Center" %}</a></td>
</tr>
<tr>
    <td><a href="/{{ LANGUAGE_CODE }}/admin/umatik/photo/" target="mf"><img
            src="/media/images/ikonlar/galeri.png"/>{% trans "Photo Gallery" %}</a></td>
</tr>

<tr>
    <td><a href="/{{ LANGUAGE_CODE }}/admin/umatik/news/" target="mf"><img
            src="/media/images/ikonlar/haberler.png"/>{% trans "News" %}</a></td>
</tr>


